{# templates/admin/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendrier</h1>
    <div id="calendar"></div>
    
    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css" rel="stylesheet" />
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    // Vous pouvez ajouter des options supplémentaires ici
                });
                calendar.render();
            });
        </script>
    {% endblock %}
{% endblock %}

