{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Tableau de Bord</h1>

    <div>
        <h2>Mes Tâches</h2>
        <p>Nombre de tâches : {{ taskCount }}</p>
        {# Afficher le graphique si nécessaire #}
    </div>
{% endblock %}
